/* Colours */
/* Import font files */
@import "_settings.css";
@font-face {
  font-family: "Pacifico";
  font-weight: normal;
  src: url("/fonts/Pacifico-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-weight: normal;
  src: url("/fonts/Nunito-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-weight: bold;
  src: url("/fonts/Nunito-Bold.ttf") format("truetype");
}
/* Font families */
/* Typographic elements */
/* Elements where the function of that element is solely to display text are styled here.  
Elements containing text but performing another function are styled in the area relevant to that function.  
E.g. the `<button>` element is styled in `_forms.scss`. */
body {
  font-family: Nunito, sans-serif;
  color: #4a4a4a;
  line-height: 1.6;
}

.heading, .heading--small, .card__heading--small, .heading--title {
  font-size: 3rem;
  margin: 0;
}

.heading--title {
  font-family: Pacifico, sans-serif;
  font-size: 2.25rem;
}

.heading--small, .card__heading--small {
  font-size: 1.5rem;
}

.bodytext, .bodytext--small, .card__bodytext--small, .bodytext--link, .card__bodytext--link {
  margin: 0;
}

.bodytext--link, .card__bodytext--link {
  color: #41cadd;
}

.bodytext--small, .card__bodytext--small {
  font-size: 0.8125rem;
}

.hero-text {
  font-weight: bold;
  font-size: 3rem;
}

.hero-accent-text-1 {
  font-weight: bold;
  font-size: 3rem;
  color: #ff6a7c;
}

.hero-accent-text-2 {
  font-family: Pacifico, sans-serif;
  font-weight: bold;
  font-size: 3rem;
}

.banner {
  font-family: Nunito, sans-serif;
}

.navbar-link {
  font-family: Nunito, sans-serif;
  font-size: 1.125rem;
  text-transform: uppercase;
  text-decoration: none;
}

.navbar-link {
  display: inline;
  color: #4a4a4a;
  padding: 0 2rem;
}

.navbar-link:hover {
  text-decoration: underline;
}

.banner {
  background-color: #fff0e9;
  height: 100px;
  line-height: 100px;
  text-align: center;
}

input,
textarea {
  border: 1px solid #b2b5ba;
}

button {
  background-color: #ff6a7c;
  border-radius: 2px;
  border-style: none;
  padding: 1rem 2rem;
  font-family: Nunito, sans-serif;
  font-size: 1.5rem;
  color: #fefefe;
}

button:hover {
  background-color: rgba(255, 106, 124, 0.8);
}

.tag, .card__tag {
  font-size: 0.875rem;
  color: #fefefe;
  background-color: #41cadd;
  padding: 0.2rem 1rem;
  border-radius: 2px;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  margin-top: 1rem;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 18px;
  display: none;
  overflow: hidden;
  background-color: white;
  border: 2px dashed gainsboro;
  border-top: 0;
  border-radius: 2px;
}

.social-buttons {
  display: flex;
  justify-content: space-around;
  max-width: 400px;
}

.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  /* align-items: center; */
  justify-content: center;
  width: 400px;
  height: 800px;
  border: 1px solid blue;
}
.card__tag {
  margin: 1rem 1rem;
}
.card__heading--small {
  text-align: center;
  width: 100%;
  margin: 0.2rem;
}
.card__bodytext--small {
  text-align: center;
  width: 100%;
  margin-bottom: 1rem;
}
.card__bodytext--link {
  margin-top: auto;
}

/*# sourceMappingURL=main.css.map */
