<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Atoms</title>
    <link rel="stylesheet" href="/styles/css/main.css" />
    <script src="/script.js" async defer></script>
  </head>
  <body class="container">
    <header><h1>atoms</h1></header>
    <article>
      <section id="typography">
        <h2>typography</h2>
        <hr />
        <h1 class="heading--title">heading-title</h1>
        <h2 class="heading--medium">heading-medium</h2>
        <h3 class="heading--small">heading-small</h3>
        <p class="bodytext--regular">bodytext-regular</p>
        <a class="bodytext--link" href="#">bodytext-link</a>
        <p class="bodytext--small">bodytext-small</p>
        <div class="banner"><h2 class="heading-big">banner</h2></div>
        <p class="hero-text">
          hero-text
        </p>
      </section>
      <section id="navigation">
        <h2>navigation</h2>
        <hr />
        <a class="nav-links__link" href="#">nav-links__link</a>
        <div class="tag">tag</div>
      </section>
      <section id="forms">
        <h2>forms</h2>
        <hr />
        <input class="input" placeholder="input" />
        <textarea class="textarea" placeholder="textarea"></textarea>
        <button class="button">button</button>
      </section>
    </article>
  </body>
</html>
