/* Navigation molecules */
.nav-links {
  &__list {
    list-style-type: none;
  }

  &__li {
    display: inline-block;
  }

  &__link {
    font-family: $bodytext-font-family;
    font-size: 1.125rem;
    text-transform: uppercase;
    text-decoration: none;
    color: $text-color;
    padding: 0 2rem;
  }

  &__link:hover {
    text-decoration: underline;
  }
}

/* Blogging molecules */
.card {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-height: 447px;

  @include for-tablet-portrait-up {
    width: 335px;
  }

  @include for-tablet-landscape-up {
    width: 420px;
  }

  &__image {
    width: 100%;
    height: auto;
  }

  &__tag-container {
    padding: 1rem;
    text-align: center;
  }

  &__tag {
    @extend .tag;
    margin: 0.5rem;
    display: inline-block;
  }

  &__heading--small {
    @extend .heading--small;
    text-align: center;
    width: 100%;
    margin: 0.2rem;
  }

  &__bodytext--small {
    @extend .bodytext--small;
    text-align: center;
    width: 100%;
    margin-bottom: 1rem;
  }

  &__bodytext {
    @extend .bodytext;
    text-align: center;
  }

  &__bodytext--link {
    @extend .bodytext--link;
    margin-top: auto;
  }
}

.article-body {
  &__image {
    width: 100%;
    height: auto;
  }

  &__date {
    @extend .bodytext--small;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  &__tag--list {
    padding: 0;
    list-style-type: none;
  }

  &__tag--item {
    @extend .tag;
    display: inline-block;
    margin: 1rem 2rem 0 0;
  }
}

.recent-posts,
.recent-comments {
  &__header {
    @extend .heading--small;
  }

  &__list {
    padding: 0;
    list-style-type: none;
    line-height: 2.5;
  }

  &__link {
    color: $text-color;
    text-decoration: underline;
  }

  &__link:visited {
    color: $text-color;
  }
}
