/* Colours */
$text-color: #4a4a4a;
$link-color: #41cadd;
$banner-background-color: #fff0e9;
$tag-color: rgba(65, 202, 221, 1);
$tag-text-color: #fefefe;
$tag-hover-color: rgba(65, 202, 221, 0.77);
$accent-color-1: rgba(255, 106, 124, 1);
$accent-color-2: rgba(65, 202, 221, 1);
$accent-hover-color: rgba(255, 106, 124, 0.8);
$accent-text-color: #fefefe;
$form-outline-color: #b2b5ba;

body {
  display: grid;
  gap: 1rem;
  min-width: 320px;
  max-width: 700px;
  margin: auto;
  padding: 1rem;
}

/* Media breakpoints */
// https://www.freecodecamp.org/news/the-100-correct-way-to-do-css-breakpoints-88d6a5ba1862/
@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}

/* All images responsive */
img {
  width: 100%;
  height: auto;
}

/* Min width for site */
html {
  min-width: 320px;
}
