.article-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
}

.tag {
  display: inline;
  background-color: var(--tag-color);
  border-radius: 2px;
  border-style: none;
  padding: 0.5rem;
}
