input,
textarea {
  border: 1px solid $form-outline-color;
}

.button {
  background-color: $accent-color-1;
  border-radius: 2px;
  border-style: none;
  padding: 1rem 2rem;
  font-family: $bodytext-font-family;
  font-size: 1.5rem;
  color: $accent-text-color;
}

.button:hover {
  background-color: $accent-hover-color;
}

.tag {
  font-size: 0.875rem;
  color: $accent-text-color;
  background-color: $tag-color;
  padding: 0.2rem 1rem;
  border-radius: 2px;
}

.contact-form {
  &__label {
    display: block;
    margin-bottom: 1rem;
  }

  &__input {
    display: block;
    margin-top: 1rem;
    width: 100%;
  }
}
