/* Colours */
$text-color: #4a4a4a;
$link-color: #41cadd;
$banner-background-color: #fff0e9;
$tag-color: rgba(65, 202, 221, 1);
$tag-text-color: #fefefe;
$tag-hover-color: rgba(65, 202, 221, 0.77);
$accent-color: rgba(255, 106, 124, 1);
$accent-hover-color: rgba(255, 106, 124, 0.8);
$accent-text-color: #fefefe;
$form-outline-color: #b2b5ba;
